{% extends 'myapp/base.html' %}\

{% load static %}

{% block content %}
    <!-- container section -->
    <div class="container">
        <div class="container-items">
            <img class="tuk"  src="{% static 'myapp/assets/images/graphics/tuk.png' %}" alt="">
        </div>
        <div class="container-items">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex velit molestias vero cum
            temporibus ducimus, earum iusto labore quod sed quibusdam sapiente quis, nihil libero nulla quasi,
            nesciunt
            saepe. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium sequi inventore quis reiciendis.
            Dicta sunt eum nulla, adipisci
        </div>
    </div>
{% endblock %}
